<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <button onclick="document.location.href='/'">Back</button>
        <h1>Register </h1>
        <div style="color: red;">
            <% if(error) { %> <% error.forEach(el => { %>
                <%= el %> <br>
            <% })} %>
        </div>
        <form action="/register" method="post">
            <label>name</label> <br>
            <input type="text" name="name"> <br>
            <label>password</label> <br>
            <input type="password" name="password"> <br>
            <label>photo profile link ( can be empty )</label> <br>
            <input type="text" name="photoProfile"> <br>
            <label>email</label> <br>
            <input type="email" name="email"> <br>
            <label>role</label> <br>
            <select name="role">
                <option selected disabled>PICK ROLE</option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select> <br>
            <input type="submit" name="Register">
        </form>
    </div>
</body>
</html>